[Unit]
Description=Run Karakeep-Time-Tagger every 4 hours
Requires=karakeep-time-tagger.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=4h
Persistent=true

[Install]
WantedBy=timers.target
